<div class="mainWrapper">
  <div class="header text-center">
    <img src="assets/images/orange-logo.png">
    <span class="pull-right">Sign In</span>
  </div>
  <div class="container-fluid contentWrapper">
    <span>Explore Rajasthan</span>
    <br>
    <span class="line2">Like Never Before</span>
  </div>
  <div class="row separator text-center m0">
    <img src="assets/images/mandala.png">
    <!-- <p>virtual tours</p> -->
    <div class="separatorContent">
      <p>Lets explore the awe inspiring views of Rajsthan in 360</p>
      <button class="pinkBtn" routerLink="['GalleryView']">View Gallery</button>
    </div>
  </div>
  <div class="row map-wrapper">
    <div id="map"></div>

    <!-- <p>hello</p> -->
    <span class="hamburger fa fa-bars"></span>

    <div class="mapContentWrapper">
      <div class="mapContentContainer">
        <span class="mapClose">x</span>
        <div class="card mB10 search">
          <input placeholder="Search" type="text" (change)="updateSuggestions($event)">
          <span class="card searchRightButton">v</span>
        </div>
        <div class="card mB10 categories">
          <span class="pills">pill 1</span>
          <span class="pills">pill 1</span>
          <span class="pills">pill 1</span>
          <span class="pills">pill 1</span>
          <span class="pills">pill 1</span>
          <span class="pills">pill 1</span>
          <span class="pills">pill 1</span>
        </div>
        <div class="searchResultWrapper">
          <div class="card pR10 searchResults border-bottom">
            <div class="pull-right pic"></div>
            <div class="pull-left">
              Search Result 1
            </div>
          </div>
          <div class="card pR10 searchResults border-bottom">
            <div class="pull-right pic"></div>
            <div class="pull-left">
              <p></p>
            </div>
          </div>
          <div class="card pR10 searchResults border-bottom">
            <div class="pull-right pic"></div>
            <div class="pull-left">
              Search Result 1
            </div>
          </div>
          <div class="card pR10 searchResults border-bottom">
            <div class="pull-right pic"></div>
            <div class="pull-left">
              Search Result 1
            </div>
          </div>
          <div class="card pR10 searchResults border-bottom">
            <div class="pull-right pic"></div>
            <div class="pull-left">
              Search Result 1
            </div>
          </div>
          <div class="card pR10 searchResults border-bottom">
            <div class="pull-right pic"></div>
            <div class="pull-left">
              Search Result 1
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer text-center">
    <p>
      powered by
      <span>Team Vajra</span> | &copy;2017
    </p>
  </div>
</div>
