<div class="mainWrapper">
  <div class="header text-center">
    <img src="assets/images/orange-logo.png">
    <span class="pull-right">Sign In</span>
  </div>
  <div class="row separator separatorGallery text-center m0">
    <img src="assets/images/mandala.png">
    <!-- <p>virtual tours</p> -->
    <div class="separatorContent separatorContentGallery">
      <p>Lets explore the awe inspiring views of Rajsthan in 360</p>
    </div>
  </div>
  <div class="galleryWrapper">
    <div class="row m0">
      <ng-container *ngFor="let monument of monumentArray">
        <div class="col-xs-12 col-sm-4 col-md-3 mB10 text-center">
          <a (click)="openPano(monument['panoUrl'])">
            <div class="cardGallery">
              <div class="descriptionBase">
                <p class="nameOfMonument">{{monument['name']}}</p>
                <button class="pinkBtn">View in 360</button>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer text-center">
    <p>
      powered by
      <span>Team Vajra</span> | &copy;2017
    </p>
  </div>
</div>
