@font-face {
  font-family: "Arkhip_font";
  src: url('assets/fonts/Arkhip_font.ttf') format("truetype");
}

body {
  font-family: "Arkhip_font", Helvetica, Arial;
  font-size: 15px;
}


/* general scrollbar css */


/* width */

::-webkit-scrollbar {
  width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

input::-webkit-input-placeholder {
  color: #b9b9b9;
}

.mB10 {
  margin-bottom: 10px !important;
}

.m0 {
  margin: 0 !important;
}
.p0{
  padding: 0 !important;
}
.pR10 {
  padding-right: 10px !important;
}

.mapContentContainer {
  width: 350px;
}

.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.header {
  padding: 10px 20px;
  background: #fefee3;
  border-bottom: 5px solid #ff8503;
  overflow: overlay;
}

.header span{
  font-size: 0.9em;
}

.header img {
  position: absolute;
  top: 0;
  height: 7.2em;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}

.separatorContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  margin-top: 35px;
  color: #8e8e8e;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.pinkBtn {
  background: #ff016e;
  padding: 10px 35px;
  color: #fff;
  border: none;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.contentWrapper {
  position: relative;
  background: #ff8503;
  height: 80vh;
  overflow: hidden;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('assets/images/9.jpg');
  background-position: center;
  padding-top: 13%;
  background-attachment: fixed;
}

.contentWrapper span {
  padding: 8px 30px;
  background: rgba(255, 133, 3, 0.8);
  font-size: 4em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1%;
  letter-spacing: 5px;
  display: inline-block;
}

.line2 {
  font-size: 2.6em !important;
}

.separator {
  /* background-color: #fefee3; */
  height: 160px;
  position: relative;
}

.separator img {
  height: 16em;
  position: relative;
  z-index: -1;
  top: -80px;
  opacity: 0.1;
}

#map {
  height: 100%;
  width: 100%;
}



/* Remove Google WaterMarks, Logogs */
.map-wrapper div#map a, .map-wrapper div#map a img {
  display: none !important;
}

.mapContentWrapper {
  padding: 0;
  height: 100%;
  color: rgb(160, 160, 160);
  position: absolute;
  left: 30px;
  top: 25px;
  /* width: 100%; */
  /* margin-top: 30px; */
}

.map-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* left: 15px; */
  font-family: Roboto, Arial, sans-serif;
}

.map-wrapper .card {
  padding: 10px 15px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  /* width: 85%; */
  overflow: overlay;
}

.mapContentWrapper input {
  border: none;
  outline: none;
  color: #929292;
  width: 100%
}

.pills {
  padding: 5px 10px;
  background: #a9a9a9;
  border-radius: 50px;
  margin-bottom: 5px;
  display: inline-block;
}

.categories {
  padding: 10px 15px 5px  !important;
  font-size: 0.75em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.pic {
  height: 60px;
  width: 60px;
  background: url('assets/images/pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.searchResultWrapper {
  overflow-y: scroll;
  height: 380px;
  background: #fff;
  /* width: 86%; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.searchResultWrapper p{
  margin-bottom: 0;
}

.searchAddress{
  font-size: 0.8em;
  /* font-weight: 600; */
}

.searchName{
  font-weight: 600;
}

.searchDistance{
  font-weight: 600;
}

.searchResultWrapper .card {
  width: 100%;
}
/* 
#distance{
  font-weight: 600;
  font-size: 0.8em;
} */


/* width */

.searchResultWrapper::-webkit-scrollbar {
  width: 2px;
  position: absolute;
  right: 20px;
}


/* Track */

.searchResultWrapper::-webkit-scrollbar-track {
  background: transparent;
}


/* Handle */

.searchResultWrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.searchRightButton {
  position: absolute;
  right: 0px;
  width: 43px !important;
  top: 0;
  height: 42px;
}

.mobileWrap {
  display: none;
}

.footer {
  padding: 50px;
  color: #ccc;
  border-top: 5px solid #ff8503;
}

.footer span {
  color: #ff8503;
  font-weight: 600;
}

.mapClose {
  display: none;
}

.hamburger {
  position: absolute;
  top: 0;
  padding: 10px;
  background:#fff;
  position: absolute;
  top: 0;
  padding: 15px 20px;
  background: #fff;
  color: #727272;
  display: none !important;
}

.separatorGallery {
  height: 230px;
}

.separatorContentGallery {
  margin-top: 80px;
  font-size: 1.7em;
}

.separatorGallery img {
  top: -15px;
}

.galleryWrapper {
  padding: 10px;
}

.cardGallery {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  height: 350px;
  background: url('assets/images/pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.descriptionBase {
  background: #fff;
  position: absolute;
  width: 100%;
  color: #727272;
  bottom: 0;
  left: 0;
  padding: 12px;
  border-top: 1px solid #e4e4e4;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
      padding: 4%;
      border-bottom: 5px solid #ff8503;
  }
  .header img {
      height: 6em;
  }
  .contentWrapper {
      height: 70vh;
      padding-top: 48%;
  }
  .contentWrapper span {
      padding: 10px 40px;
      display: block;
      font-size: 2em;
  }
  .line2 {
      font-size: 1.5em !important;
  }
  .searchResultWrapper {
      position: absolute;
      width: 97%;
      height: 300px;
      font-size: 0.9em;
  }
  .mapContentContainer {
      margin: 0 auto;
      width: 97%;
      margin-top: 35px;
  }
  .mapContentWrapper {
      font-size: 1.3em;
      left: 0;
      background: #f9f9f9;
      top: 0;
      /* search hidden */
      display: none;
      margin-top: -1px;
  }

  .mobileWrap {
      display: block;
  }
  .pic {
      height: 70px;
      width: 80px;
  }
  .searchResultWrapper-mobile {
      position: absolute;
      width: 100%;
      height: 400px;
      bottom: 0;
  }
  .searchRightButton {
      top: 35px;
      height: 39px;
      width: 50px !important;
  }
  .pills {
      padding: 1% 4%;
      margin-bottom: 10px !important;
  }
  .footer {
      font-size: 1em;
      padding: 16px;
      border-top: 5px solid #ff8503;
  }
  .mapClose {
      display: block;
      font-size: 1.2em;
      position: absolute;
      top: 0;
      right: 10px;
  }
  .mapClose:hover {
      cursor: pointer;
  }
  .search {
      margin-bottom: 10px !important;
  }
  .categories {
      margin-bottom: 10px !important;
      padding: 15px !important;
      padding-bottom: 5px !important;
  }


  .map-wrapper .card {
      padding: 5px 20px;
  }
  .map-wrapper{
    width: 104vw;
  }
  .pinkBtn {
      background: #ff016e;
      padding: 15px 35px;
      color: #fff;
      border: none;
      font-size: 0.8em;
      margin-top: 15px;
  }

  .separator{
      height: 220px;
  }

  .separator img{
      height: 11em;
  }

  .hamburger{
      display: block !important;
      left: 15px;
  }

  .separatorContent{
      margin-top: 30px;
  }
 
  .separatorContentGallery {
    margin-top: 70px;
    font-size: 1.6em;
}

}

.color1{
  background: rgb(255, 133, 3);
}